


#headerSection{
  /* for straight background do below */
/* background-color: rgba(177, 177, 248, 0.710); */
background-image: linear-gradient(-90deg, rgb(96, 212, 173), rgb(72, 121, 68));
}

#headerName {
  font-size: 100px;
  font-family: "Comic Sans MS", bold, sans-serif;
  text-shadow: 3px 2px rgba(15, 15, 15, 0.712);

}


#carousel {
  width: 100%;
  height: 100%;
}


.carousel-caption {
 color: greenyellow;
}

.h3title {
  
  font-size: 100px;
  font-family: "Comic Sans MS", bold, sans-serif;
  text-shadow: 3px 2px rgba(15, 15, 15, 0.712);

}

.carousel-caption div {
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}







#overview {
  background-color: rgba(186, 255, 173, 0.71);
  color: rgb(1, 4, 31);
}

#whatWeDoSection {
  background-image: linear-gradient(-90deg, rgb(120, 148, 140), rgb(88, 88, 88));
  color: whitesmoke;

  
}

.programingLogo{
  height: 150px;
  width: 150px;
}

.nodePic {
  height: 150px;
  width: 250px;
}

.blockPic {
  height: 150px;
  width: 350px;
}


#stuffIMade{
  background-color: rgba(47, 150, 26, 0.71);
}

.sevenTenPic {
width: 75%;
height: 75%;
}

.infoPic {
  width: 100%;;
  height: 100%;
}


.djPic {
  width: 100%;
  height: 65%;
}



 
  

.philCard {
  padding: 1 0px;
}


#contactSection{
  background-image: linear-gradient(-90deg, rgb(27, 34, 32), rgb(88, 88, 88));
}