#headerSection{
background-color: rgba(177, 177, 248, 0.710);
}

#carousel {
  
}


#overview {
  background-color: rgba(47, 150, 26, 0.71);
  color: rgb(1, 4, 31);
}

#whatWeDoSection {
  background-color: rgba(177, 177, 248, 0.710);
  color: whitesmoke;
}

#secTwo{
  background-color: rgba(47, 150, 26, 0.71);
}

#secThree{
  background-color: rgba(177, 177, 248, 0.710);
}

#secOneImg {
    width: 100%;
    height: 100%;
  }

  #headerName {
    font-size: 100px;
    font-family: "Comic Sans MS", bold, sans-serif;
    text-shadow: 3px 2px rgba(15, 15, 15, 0.712);

  }
  
  /* still need to get image background working */
  #gelatoPic {
    background-image: url('/assets/img/gelato.png');
    width: 100%;
    height: 100%;
    
}

.philCard {
  padding: 5 0px;
}


 